body{
    margin: 20px 50px;
}
/*for counter*/
table{
    border-color: black;
    background-color: #9d9d9d;
    border-collapse: collapse;
    width: 40%;
}
th{
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: center;
}